<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/RideOn"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Logo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ButtonActivity"></activity>
        <activity android:name=".Driverside"></activity>
        <activity android:name=".RegistrationActivity"></activity>
        <activity android:name=".Userside"></activity>
        <activity android:name=".UserRegistration"></activity>
        <activity android:name=".driver_home"></activity>
        <activity android:name=".next_ride"></activity>

        <activity android:name=".Userhomepage1"></activity>
        <activity android:name=".Userhomepage3"></activity>
        <activity android:name=".Thankyou" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".PaymentMode"></activity>
        <activity android:name=".onlinepayment"></activity>
        <activity android:name=".offlinepayment"></activity>
        <activity android:name=".paymentDone"></activity>




        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBmhScZzBTsCBElaRIe-MbgH_v1b8yKcTA"/>
    </application>

</manifest>